@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto";
}


/* Header */
/* funciona */
header {
    width: 100vw;
    background: yellow;
}

.top-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
}

/* funciona */
 .logo img {
    display: block;
    width: 50%;
    padding: 10px;
    margin: auto;
}

.form {
    display: block;
    width: 50%;
    text-align: center;
    padding: 10px;
    margin: auto;
}

p { 
    display: block;
    margin: auto;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 10px;
}

ul {
    list-style: none;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

ul li a{
    text-decoration: none;
    color: black;
    margin: auto;
    padding: 10px;
    justify-content: space-around;
}

header i {
    color: black;
}

.burger-menu {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    background: rgb(99, 99, 216);
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
}

.banner {
    display: block;
    width: 100%;
    margin: 0px; 
    margin-top: 20px; 
}


/* Main */

main {
    background: #ebebeb;
    width: 100vw;
    margin: auto;
    padding: 10px;
}

h3{
    font-size: 24px;
    margin: auto;
    padding: 10px;
    text-align: center;
}

main section{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
}

article {
    background: white;
    padding: 15px;
    margin: auto;
    margin: 10px;
    margin-top: 10px;
    border: 2px;
}

article img {
    display: block;
    width: 80%;
    margin: auto;
    padding: 10px;
}

.main-product {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #ebebeb ;
    margin-top: 10px;
    padding: 20px;
   
}

article i {
    display: flex;
    font-size: 16px ;
    padding: 5px ;
    width: 30px ;
    height: 30px ;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px
}

.precios {
    display: block;
    font-size: 18px;
    width: 30%;
}

.descuentos {
    display: block;
    font-size: 16px;
    color: #39b54a;
}

.descripcion {
    margin-top: 10px;
}

/* footer */

footer {
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    border: 10px;
    padding: 10px;
}

.container {
    width: 60%;
    text-align: center;
    border: 20px;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.copyrigth{
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border: 10px;
    font-size: 12px;
}

i {
    display: block;
    justify-content: center;
    border-bottom: 10px;
    color: blue;
    width: 2em;
    margin: auto;

}


/* Media queries */

/* Mobile */

@media (max-width: 360px) {
 nav {
     display: none;
 }

 .descripcion {
     display: none;
 }
}

/* Tablet */

@media screen and (min-width: 361px) {
    .burger-menu {
        display: none;   
    }     

    article img {
        box-shadow: 0px 0px 10px 0px #000000;
    }

    article {
        padding: 10px;
}

/* Desktop */

/* @media screen and (min-width: 769px){
    .burger-menu {
        display: none;   
    }

} */}